img[src$="titleimg"] {
    margin: 0 auto;
    display: inline-block;
    max-width: 50%;
    text-align: center;
}

.titleimg {
    margin: 0 auto;
    display: inline-block;
    max-width: 50%;
    text-align: center;
}

.one_line_summ {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.7rem;
    letter-spacing: -0.01em;
}

.desc {
    font-size: 1.5rem;
}


@media screen and (max-width: 768px) {
    img[src$="titleimg"] {
        margin: 0 auto;
        display: inline-block;
        max-width: 100%;
        text-align: center;
    }
    .titleimg {
        margin: 0 auto;
        display: inline-block;
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 576px) {
}
