img[src$="titleimg"] {
    margin: 0 auto;
    display: inline-block;
    max-width: 50%;
    text-align: center;
}

.titleimg {
    margin: 0 auto;
    display: inline-block;
    max-width: 50%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    img[src$="titleimg"] {
        margin: 0 auto;
        display: inline-block;
        max-width: 100%;
        text-align: center;
    }
    .titleimg {
        margin: 0 auto;
        display: inline-block;
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 576px) {
}
